<p id="notice"><%= notice %></p>

<h1>Listado de Bibliotecarios</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Puesto</th>
      <th>Estado</th>
      <th>Certificaciones</th>
      <th>Nivel Academico</th>
      <th>Experiencia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td style="color: #000000;"><%= doctor.name %></td>
        <td style="color: #000000;"><%= doctor.address %></td>
        <td style="color: #000000;"><%= doctor.city %></td>
        <td style="color: #000000;"><%= doctor.state %></td>
        <td style="color: #000000;"><%= doctor.zip %></td>
        <td style="color: #000000;"><%= doctor.certified_by %></td>
        <td style="color: #000000;"><%= doctor.experience %></td>
        <td><%= link_to 'Ver', doctor, :class => 'button radius default'%></td>
        <td><%= link_to 'Editar', edit_doctor_path(doctor), :class => 'button radius success' %></td>
        <td><%= link_to 'Eliminar', doctor, method: :delete, data: { confirm: 'Estas Seguro?' }, :class => 'button radius alert' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Bibliotecario', new_doctor_path, :class => 'button radius success' %>
