<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>
      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Titulo, :class=>"label" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Autor, :class=>"label" %><br>
    <%= f.text_field :breed %>
  </div>
  <div class="field">
    <%= f.label :Genero, :class=>"label" %><br>
    <%= f.text_field :pet_type %>
  </div>
  <div class="field">
    <%= f.label :Número_Hojas, :class=>"label" %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :Peso, :class=>"label" %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :Fecha_publicación, :class=>"label" %><br>
    <%= f.date_select :last_appointment %>

  </div>
  <div class="actions">
    <%= f.submit :Aceptar, :class => 'button radius success'%>
  </div>
<% end %>
