<p id="notice"><%= notice %></p>

<h1>Listado de Rentas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre Libro</th>
      <th>Nombre Bibliotecario</th>
      <th>Razón</th>
      <th>Fecha de Cita</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td style="color:#000000"><%= Pet.get_name(appointment.pet_id) %></td>
        <td style="color:#000000"><%= Doctor.get_name(appointment.doctor_id) %></td>
        <td style="color:#000000"><%= appointment.doctor_name %></td>
        <td style="color:#000000"><%= appointment.reason %></td>
        <td style="color:#000000"><%= appointment.appointment_date %></td>

        <td><%= link_to 'Ver', appointment, :class => 'button radius default' %></td>
        <td><%= link_to 'Editar', edit_appointment_path(appointment), :class => 'button radius success' %></td>
        <td><%= link_to 'Eliminar', appointment, method: :delete, data: { confirm: 'Estas Seguro?' }, :class => 'button radius alert' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Renta', new_appointment_path, :class=>"button radius success" %>
